.teamCard{
    margin:2%;
}
.card{
    background-color: yellow;
}
.card img{
    width:30%;
    margin: 0 auto;
    margin-top: 4%;
}
.card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
}